body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#message {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    padding: 10px;
    background-color: #e74c3c;
    color: #fff;
    text-align: center;
}

.show-message {
    display: block !important;
}

.clicker-container {
    text-align: center;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: not-allowed;
    background-color: #95a5a6;
    color: #ecf0f1;
    border: none;
}

button.purchase {
    cursor: pointer;
    background-color: #2ecc71;
    color: #fff;
}

button.main-button {
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
}

#upgradesSidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #1f202c;
    color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* Dodatkowe style dla wszystkich przycisków */
button {
    border: none;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin: 10px;
}
